<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Perspectives</title>
</head>
<body>
  <h1>Perspectives</h1>

  <ul>
    <li><a href="/">[Put your links here]</a></li>
  </ul>

</body>
</html>
